/* Table of Contents
______________________________________________________________
- General Content
- Typography
- Header and Navigation
- Images and Media
- Footer
- Media Queries
______________________________________________________________ */

/* General Content
______________________________________________________________ */
.main{
  padding-top: 3%;
}

.row {
  padding: 2% 0;
}

.green {
  background-color: rgb(126, 181, 212);
}

html, body {
    height: 100%
}

/* Typography
______________________________________________________________ */
body {
  font-family: 'Abel', sans-serif;
  font-size: 1.75em;
  color: black;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  margin: 0.67em;
}

h2.bio {
  color: #3f7f7c;
}

p.bio {
  color: white;
  font-size: 1.8em;
}



/* Images and Media
______________________________________________________________ */

img.avatar {
  border-radius: 400px;
  border: 5px solid white;
}


/* Media Queries
______________________________________________________________ */
/* Larger than mobile */
@media (max-width: 479px) {
    .logo a {
      font-size: 2em;
    }
    .main {
      padding-top: 15%;
    }
    .portfolio img{
      margin-bottom: 10%;
    }
    img.avatar {
      margin-top: 15%;
    }
    h2.bio {
      font-size: 2.5em;
    }
    p.bio {
      font-size: 1.25em;
      color: #3f7f7c;
    }
    ul.social li a {
      font-size: .75em;
    }
}
