/* General Content
______________________________________________________________ */

.App {
  text-align: center;
  background-color: rgb(51,51,51);
}

p {
    font-family: 'Source Sans Pro', 'Lato', sans-serif;
}

h2 {
    font-family: 'Satisfy', 'Source Sans Pro', serif;
}

.row {
  padding: 0;
}

body {
  font-size: 1.75em;
  color: black;
}


/* Larger than mobile */
@media (max-width: 479px) {
    .logo a {
      font-size: 2em;
    }
    .main {
      padding-top: 15%;
    }
    .portfolio img{
      margin-bottom: 10%;
    }
    img.avatar {
      margin-top: 15%;
    }
    h2.bio {
      font-size: 2.5em;
    }
    p.bio {
      font-size: 1.25em;
      color: #3f7f7c;
    }
    ul.social li a {
      font-size: .75em;
    }
}
