/* General Content
______________________________________________________________ */

.App {
  text-align: center;
  background-color: rgb(51,51,51);
}

p {
    font-family: 'Source Sans Pro', 'Lato', sans-serif;
    font-size: 1.8em;
}

h2 {
    font-family: 'Satisfy', 'Source Sans Pro', serif;
    font-size: 3em;
}

.row {
  padding: 0;
}

body {
  font-size: 1.75em;
  color: black;
}


/* Larger than mobile */
@media (max-width: 479px) {
    p{
        font-size: 1.4em;
    }
    h2{
        font-size: 2.5em;
    }
    .logo a {
      font-size: 2em;
    }
    .main {
      padding-top: 15%;
    }
    ul.social li a {
      font-size: .75em;
    }
}
