/* Header and Navigation
______________________________________________________________ */

header {
    height: 100vh
}

header.main_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("title-background.jpg");
}

header .mask {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.title {
  margin: 2% auto;
  text-align: center;
  font-size: 3.5em;
}

.subtitle{
    font-size: 1.25em;
    color: white;
}

.title a{
  color: white;
  text-decoration: none;
  border: 3px solid white;
  text-transform: uppercase;
  padding: 2px 10px 0px 10px;
  margin: 0;
}

.title a:hover {
  background-color: white;
  color: black;
}
