#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   width: 85%;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: auto;
   margin-right: auto;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.photo {
  max-width: 100%;
  animation: picture-off-hover 0.3s;
  animation-fill-mode: forwards;
}

.photo:hover {
  animation: picture-on-hover 0.2s;
  animation-fill-mode: forwards;
}

/* Animation for when a pic is hovered */
@keyframes picture-on-hover {
  from {opacity: 1;}
  to {opacity: 0.8;}
}

@keyframes picture-off-hover {
  from {opacity: 0.8;}
  to {opacity: 1;}
}

/* Change number of columns based on screen width */ 
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 600px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
